/* T10 - Leonardo Chavez: Tokens y variables base */

/* T10 - Leonardo Chavez: Reset global */

/* T10 - Leonardo Chavez: Tipografia base */

/* T02/T09 - Ronel Rojas: Header y navegación */

/* T01 - Andy Salcedo: Botones compartidos hero */

/* T01 - Andy Salcedo: Sección hero */

/* T03 - Miguel Sanca: Sección cómo funciona */

/* T04 - Lucero Pipa: Sección beneficios */

/* T06 - Miguel Sanca: Sección impacto */

/* T05 - Lucero Pipa: Sección testimonios */

/* T05 - Lucero Pipa: CTA final */

/* T07 - Jahat Trinidad: Footer institucional */

/* T02 - Ronel Rojas: Toggle de menú */

/* T08 - Leonardo Chavez: Breakpoint tablet/desktop */

/* T08 - Leonardo Chavez: Breakpoint mobile */
